body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF4E0;
}

.header-content {
    background-color: #FF7F32;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    max-width: 150px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    margin: 5px 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.about {
    padding: 20px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.chef-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.text-content {
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}

.reach-us {
    padding: 20px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.info-block {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.info-block button {
    background-color: #FF7F32;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.footer-content {
    background-color: #FF7F32;
    padding: 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a {
    margin: 5px 10px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}


@media (min-width: 769px) {
    .header-content {
        flex-direction: row;
    }

    .about-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .contact-info {
        grid-template-columns: repeat(3, 1fr);
    }
}
