:root {
  /* font family */
  --primary-font: "Montserrat", sans-serif;
  --headline-font: "Source Serif 4", serif;
  /* font weight */
  --fw-l: 300;
  --fw-m: 500;
  --fw-b: 700;
  /* font size */
  --fs-base: 10px;
  --fs-body: calc(var(--fs-base) * 1.6);
  --fs-h1: calc(var(--fs-base) * 4);
  --fs-h2: calc(var(--fs-base) * 3);
  --fs-h3: calc(var(--fs-base) * 2.4);
  --fs-p: calc(var(--fs-base) * 1.6);

  /* colors */
  --primary-color: #fdecdf;
  --secondary-color: #b44e05;
  --tertiary-color: #e66406;
  --neutral-lt-color: #ffffff;
  --neutral-mid-color: #6c6b7a;
  --neutral-dk-color: #000000;
  --accent-color: #dff0fd;
  --grey-color: #f4f4f4;

  /* helper */
  --spacer: 1rem;
  /* double spacing */
  --spacer-dbl: calc(var(--spacer) * 2);
  /* border radius */
  --border-radius: 10px;
  /* box shadow */
  --shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  /* max width */
  --max-width: 1200px;
}

/* ==============================
   GLOBAL STYLES
   ============================== */

html {
  font-size: 10px;
}

body {
  /* new design system theming with css variables */
  --bg: var(--primary-color);
  --heading: var(--neutral-mid-color);
  --heading-bg: var(--neutral-lt-color);
  --text-color: var(--neutral-dk-color);
  --btn-bg: var(--tertiary-color);
  --btn-text: var(--neutral-lt-color);
  --btn-hover-bg: var(--accent-color);
  --btn-hover-text: var(--neutral-mid-color);

  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: var(--fs-body);
  font-weight: var(--fw-l);
  height: 100vh;
 
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: var(--headline-font);
  color: var(--heading);
  margin: calc(var(--spacer) / 2) 0 var(--spacer) 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* ==============================
   HOME PAGE STYLES
   ============================== */

/* -------- header section------  */
/* -------- hero section------  */

/* -------- branding section------  */

/* -------- menu section------  */

/* -------- contact section------  */

/* -------- footer section------  */

/* ==============================
   ABOUT US STYLES
   ============================== */

/* ==============================
   Contact US STYLES
   ============================== */
   main {
    max-width: 1200px;
    margin: auto;
  }
   .contactInfo-section {
      padding: 50px 10px 0;
   }
   .contactInfo-section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: var(--fw-m);
    color: var(--secondary-color);
   }
   .contactDetails p {
    font-size: var(--fs-p);
    color: var(--text-color);
    text-align: left;
    line-height: 1.4em;
  }
  #formInfo {
    margin: 50px 0;
    color: var(--text-color);
    font-size: var(--fs-p);
    font-family: var(--primary-font);
    font-weight: var(--fw-l);
  }
  fieldset {
    border: 1px solid var(--neutral-dk-color); 
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  legend {
    font-size: var(--fs-p);
    color: var(--tertiary-color);
    margin: 10px;
    font-weight: var(--fw-m);
  }
  .namefield li{
    width: 48%;
    display: inline-block; 
  }
  .inputStyle {
    display: block;
    height: 30px;
    width: 95%;
    border: solid 1px var(--neutral-mid-color); 
    color: var(--neutral-mid-color);
    font-size: var(--fs-p);
    font-family: var(--primary-font);
    border-radius: var( --border-radius);
    margin-bottom: 20px;
    margin-top: 5px;
  }
  #message {
    height: auto;
   } 
   .checklist, .radiolist {
    margin-bottom: 20px;
   }
  .checklist li, .radiolist li {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 45%;
  display: inline-block;
  }
  #submitBtn {
    width: 100%;
    color: var(--btn-text);
    background-color: var(--btn-bg);
    border-radius: var( --border-radius);
    border: none;
    font-size: var(--fs-p);
    padding: 10px 0;
    font-family: var(--primary-font);
    cursor: pointer;
  }
  .mapWrapper {
      overflow: hidden;
      margin: 30px 0;
    }
  .mapWrapper iframe {
      width: 100%;
    }

    @media screen and (min-width: 750px){
      .contactInfo-section {
        display: flex;
        align-items:first baseline;
        justify-content: space-between;
      }
      .contactDetails {
        width: 45%;
      }
      #formInfo{
        width: 50%;
      }
      .checklist, .radiolist {
        margin-bottom: 10px;
       }
       .checklist li, .radiolist li {
        margin-bottom: 5px;
       }
       #formInfo p {
        width: 100%;
       }
       #formInfo {
        margin: 0;
       }
    }
/* ==============================
   MENU PAGE STYLES
   ============================== */

/* ==============================
   Lunch PAGE STYLES
   ============================== */

/* ==============================
   Dinner PAGE STYLES
   ============================== */

/* ==============================
   Beers PAGE STYLES
   ============================== */

/* ==============================
   Dessert PAGE STYLES
   ============================== */
